.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.formInputs{
  display: flex;
  gap: 5px;
  width: 100%;
}

.container {
  width: 80%;
  height: 60vh;
  background-color: white;
  padding: 1em;
  border-radius: 0.3em;

  display: grid;
  grid-template-columns: 30% auto;
  gap: 10px;
}

.title{
  font-weight: 600;
}

.item1 {
  color: black;
  padding-top: 1em;
  padding-bottom: 1em;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bodyItem1{
  margin: 0 auto;
  width: 90%;
}

.footerItem1{
  margin: 0 auto;
}

.bodyContent {
  font-size: medium;
  max-height: 400px;
  overflow: auto;
}

.item2 {
  color: black;
  padding-top: 1em;
  padding-bottom: 1em;
}

.cardsContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reservationCard {
  background: rgb(107, 107, 107);
  padding: 10px;
  color: white;
  cursor: pointer;
}